@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@import './modules/variables.css';
@import './modules/header.css';
@import './modules/hero.css';
@import './modules/features.css';
@import './modules/collaboration.css';
@import './modules/testimonials.css';
@import './modules/access.css';
@import './modules/footer.css';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-into);
  color: var(--neutral-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: min(100% - 3rem, 1440px);
}
