@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  /* FONTS */
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */

  --primary-dark-blue-into: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);
  
  --accent-cyan-gradient: hsl(176, 68%, 64%);
  --accent-blue-gradient: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-into);
  color: var(--neutral-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: min(100% - 3rem, 1440px);
}

.header {
  font-family: var(--font-primary);
  margin: 0 auto;
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
}

.header__nav {
  list-style: none;
  /* border: 1px solid blue; */
  padding: 10px;
  margin: 10px;

  display: flex;
  gap: 2rem; /* 1rem = 14px */
}

.hero {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  background: var(--primary-dark-blue-into) url(../images/bg-curvy-desktop.svg) no-repeat bottom;
  background-size: contain;
  padding-top: 3rem;
}

.hero__title {
  width: min(100% - 3rem, 720px);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
}

.hero__text {
  width: min(100% - 3rem, 720px);
  
  font-family: var(--font-secondary);
  padding: 0 7rem;
  line-height: 1.5;
}

.hero__button {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  min-width: 220px;
  color: var(--neutral-white);
  background:
    linear-gradient(
      90deg,
      var(--accent-cyan-gradient) 0%,
      var(--accent-blue-gradient) 35%
    )
  ;
}