@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* FONTS */

$font-primary: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// COLORS

$primary-dark-gold: #FFB742;
$primary-dark-blue1: #393646;
$primary-dark-blue2: #4F4557;
$primary-dark-white: #FFFFFF;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: $font-size;
}

body {
  background-color: $primary-dark-blue2;
  color: $primary-dark-white;
}