@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import 'modules/variables';
@import 'modules/base';
@import 'modules/utils';

@import 'modules/header';
@import 'modules/hero';
@import 'modules/stack';
@import 'modules/skills';
@import 'modules/projects';
@import 'modules/footer';

