.colaboration {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  padding-top: 8rem;
  background-color: var(--primary-dark-blue-main);
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .colaboration {
    flex-direction: row;
  }
}

.how_works {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .how_works {
    width: 33rem;
  }
}

.how_works__title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
}

.how_works__text {
  font-family: var(--font-secondary);
}

.how_works__button {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  font-family: var(--font-secondary);
  color: var(--accent-cyan-gradient);
  border-bottom: 1px solid var(--accent-cyan-gradient);
  margin-right: auto;
  padding-bottom: 0.5rem;
}