.card {
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  @include default-border;
  @include custom-border(4px, red, false);

  .success {
    background-color: green;
  }
  
  &--header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $card-border-color;
  }
  
  &--body {
    padding: 1rem 1.5rem;
  }
}

