* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: $font-size; // 16px
}

body {
  background-color: $primary-color-blue2;
  color: $primary-color-white;

  font-family: $font-primary;
}

a {
  color: inherit;
  text-decoration: none;
}