/* FONTS */

$font-primary: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* COLORS */

$primary-color-gold: #FFB742;
$primary-color-blue1: #393646;
$primary-color-blue2: #4F4557;
$primary-color-blue3: #6D5D6E;
$primary-color-white: #FFFFFF;